@import "variables";

$offset-center: 40px;
$circle: 14px;
$halfCircle: 7px;
$lightGrey: #7A7A7A;

.experience-section {
  font-family: $textFontFamily;
  font-weight: 500;

  .experience-container {
    padding: 70px 20px 70px;
  }

  .title {
    margin-bottom: 60px;
    font-family: $titleFontFamily;
    font-size: 32px;
    text-align: center;
  }

  .items {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .items:before {
    position: absolute;
    content: '';
    top: 2px;
    bottom: 0;
    left: $halfCircle;
    width: 1px;
    height: 100%;
    background-color: lightgrey;

    @media (min-width: $lgWidth) {
      left: calc(50% - 0.5px);
    }
  }

  .item {
    position: relative;
    padding: 20px 40px;
    color: $lightGrey;
    border-radius: 7px;

    .fal {
      margin-right: 10px;
    }

     p {
       margin-bottom: 10px;
       font-weight: 500;

       a {
         color: $lightGrey;
       }
     }
  }

  .item:nth-child(odd),
  .item:nth-child(even) {
    align-self: flex-start;
    width: calc(100% - #{$offset-center} - #{$halfCircle});
    margin-left: calc(#{$offset-center} + #{$halfCircle});
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media (min-width: $lgWidth) {
    .item:nth-child(odd),
    .item:nth-child(even) {
      width: 40%;
    }

    .item:nth-child(odd) {
      margin-left: calc(50% + #{$offset-center} - 1px);
    }

    .item:nth-child(even) {
      align-self: flex-end;
      margin-right: calc(50% + #{$offset-center} - 1px);
    }
  }

  .item:nth-child(1),
  .item:nth-child(5) {
    border: 1px solid #44B853;

    .job {
      color: #44B853;
    }
  }

  .item:nth-child(2),
  .item:nth-child(6) {
    border: 1px solid #F26521;

    .job {
      color: #F26521;
    }
  }

  .item:nth-child(3),
  .item:nth-child(7) {
    border: 1px solid #C21DF0;

    .job {
      color: #C21DF0;
    }
  }

  .item:nth-child(4) {
    border: 1px solid #EC008D;

    .job {
      color: #EC008D;
    }
  }

  .item:before {
    position: absolute;
    content: '';
    top: 0;
    height: $circle;
    width: $circle;
    border-radius: 50%;
  }

  .item:nth-child(odd):before,
  .item:nth-child(even):before {
    left: calc(-#{$offset-center} - #{$halfCircle});
  }

  @media (min-width: $lgWidth) {
    .item:nth-child(odd):before {
      left: calc(-#{$offset-center} - #{$halfCircle});
    }

    .item:nth-child(even):before {
      left: auto;
      right: calc(-#{$offset-center} - #{$halfCircle});
    }
  }

  .item:nth-child(1):before,
  .item:nth-child(5):before {
    background-color: #44B853;
  }

  .item:nth-child(2):before,
  .item:nth-child(6):before {
    background-color: #F26521;
  }

  .item:nth-child(3):before,
  .item:nth-child(7):before {
    background-color: #C21DF0;
  }

  .item:nth-child(4):before {
    background-color: #EC008D;
  }

  .year {
    color: black;
    letter-spacing: 0.5px;
  }

  .job {
    font-family: $titleFontFamily;
    font-size: 18px;
    font-weight: 600;
  }

  ul li {
    margin-left: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}