$transition: 100ms ease-in;
$darkBlack: #0D0C08;
$softBlue: #4ABFEF;


.portfolio-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 3% 70px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 100%;
      border-radius: 7px;
      margin-bottom: 70px;
      box-shadow: 10px 25px 40px -10px rgba(0, 0, 0, 0.2);

      @media (min-width: 700px) {
        width: 45%;
      }

      @media (min-width: 992px) {
        width: 30%;
      }

    }


    .card-img {
      height: 290px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      @media (min-width: 992px) {
        height: 260px;
      }
    }


    .granit {
      background-image: url("img/granit.jpg");
    }
    .collaboration {
      background-image: url("img/collaboration.jpg");
    }
    .avtoharakter {
      background-image: url("img/avtoharakter.jpg");
    }
    .ga {
      background-image: url("img/qa.jpg");
    }
    .procent {
      background-image: url("img/procent.jpg");
    }
    .enduro {
      background-image: url("img/enduro.jpg");
    }

    .card-container {
      padding: 20px 20px;
    }

    .card-title {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      margin: 20px 0;
      line-height: 30px;
      color: #404040;
      height: auto;

      @media (min-width: 700px) {
        height: 90px;
      }
    }

    .card-desc {
      margin: 25px 0;
      color: #7A7A7A;
      font-family: "Quicksand", sans-serif;
      line-height: 20px;
      letter-spacing: 0.2px;
      text-align: justify;
    }

    .card-btns {
      display: flex;
      justify-content: space-between;
    }

    .card-btn {
      width: 47%;
      height: 40px;
      border-radius: 7px;
      border: none;
      outline: none;
      text-transform: capitalize;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
    }
    .card-long {
      width: 100%;
    }

    .card-btn-open {
      background: #4ABFEF;
      color: white;

      @media (min-width: 992px) {
        background: #EEEEEE;
        color: #0D0C08;
      }
    }

    .card-btn-git {
      background: #0D0C08;

      a {
        text-decoration: none;
        color: white;
        height: 100%;
        width: 100%;
        padding: 9px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .fa-github {
        color: white;
        font-size: 20px;
        margin-right: 10px;
      }
    }

    @media (min-width: 992px) {
      .card-btn-git:hover {
        background: #404040;
        transition: $transition;
      }

      .card-btn-open:hover {
        cursor: pointer;
        background: #4ABFEF;
        color: white;
        transition: $transition;

        //.card-title {
        //  color: #4ABFEF;
        //  transition: $transition;
        //}
      }
    }
  }
}

/*slider*/
.slider {
  display: block;
}

.slider-modal {
  visibility: hidden;
  position: fixed;
  width: 100%;
  background-color: white;
  border: 1px solid red;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
}

.slider-cont {
position: relative;
  overflow: hidden;
  max-width: 1050px;
  margin: 0 auto;
  border: 1px solid green;

}

.slider-modal-active {
  visibility: visible;
  height: auto;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.6s ease;

}

.slider-item {
  position: relative;
  flex: 0 0 100%; /* определяет количество активных слайдов (в данном случае 3 */
  max-width: 100%; /* определяет количество активных слайдов (в данном случае 3 */
  height: auto;
  //padding: 0 60px;
}

.slider-control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  width: 40px;
  height: 50px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 1;
  background: none;
  z-index: 10;
}

.slider-control:hover,
.slider-control:focus {
  color: #fff;
  outline: 0;
  opacity: 0.9;
}

.slider-control-left {
  left: 0;
}

.slider-control-right {
  right: 0;
}

.slider-control:before {
  content: '';
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}

.control-cars:before {
  width: 40px;
  height: 40px;
}

.slider-control-left:before {
  background-image: url("img/arrow_prev.svg");
}

.slider-control-right:before {
  background-image: url("img/arrow_next.svg");
}

.slider-control-close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .close-right,
  .close-left {
    position: absolute;
    height: 4px;
    width: 50px;
    margin-top: 24px;
    background-color: $darkBlack;
    border-radius: 2px;
    transition: all .3s ease-in;
  }

  .close-right {
    transform: rotate(45deg);
  }

  .close-left {
    transform: rotate(-45deg);
  }
}

.slider-control-close:hover .close-right,
.slider-control-close:hover .close-left {
  background-color: $softBlue;
}

.slider-control-close:hover .close-right {
  transform: rotate(-45deg);
}

.slider-control-close:hover .close-left{
  transform: rotate(45deg);
}

.slider-img {
  height: 500px;
  width: 60%;
  background-repeat: no-repeat;
  border-radius: 7px;
  height: 439px;

}
.slider-desc {
  width: 35%;
}

.slider-item {
  display: flex;
  justify-content: space-between;

}

.collaboration {
  background-image: url("img/collaboration.jpg");
}