$textFontFamily: 'Quicksand', sans-serif;
$titleFontFamily: 'Montserrat', sans-serif;
$nameFontFamily: 'Hind';

$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$maxWidthContainer: 1300px;

$textColor: #2f2f2f;