$fontQuicksand: 'Quicksand', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$mobWidth: 576px;
$tabletWidth: 992px;
$textColor: rgb(70,70,70);

.education-section {
  height: 800px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-image: url("img/23_back_2.svg");
  background-size: cover;
  color: $textColor;

  @media (min-width: $tabletWidth) {
    padding: 0 30px 20px;
  }

  .education-container {
    max-width: 1300px;
    margin: 0 auto;

    @media (min-width: $tabletWidth) {
      padding: 10px 0 0;
    }
    .education-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .education-title {
      margin-bottom: 20px;
      font-family: $fontMontserrat;
      font-size: 26px;
      text-align: center;


      @media (min-width: $tabletWidth) {
        margin-bottom: 40px;
        font-size: 34px;
      }
    }

    .education-item {
      box-shadow: 10px 25px 40px -10px rgba(0, 0, 0, 0.1);
      background: linear-gradient(135deg,
              rgba(255,255,255,1) 0%,
              rgba(255,255,255,1) 50%,
              rgba(255,255,255,1) 70%,
              rgba(255,255,255,0) 100%);
      display: flex;
      margin-bottom: 30px;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      padding: 20px;
      line-height: 20px;
      border-radius: 30px;
      width: 47%;
      transition: 150ms ease-in;
      p {
        font-size: 15px;
      }
      .education-item-program {
      }
      a {
        color: $textColor;
        font-size: 15px;
        text-decoration: none;
      }
      .education-item-univ {
        font-family: $fontMontserrat;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 6px;
      }
    }
    .education-item:last-child {
      margin-left: 53%;
    }
    .education-item:nth-child(4),
    .education-item:nth-child(6),
    .education-item:nth-child(7) {
      background: linear-gradient(90deg, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    }
  }
}