@import "variables";

.education-section {
  height: auto;
  background-position: 40% 0%;
  background-image: url("../images/education/back_desk.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $textColor;

  @media (min-width: $mdWidth) {
    height: 805px;
    background-position: 50% 0%;
  }

  .education-container {
    padding: 0 20px;

    @media (min-width: $lgWidth) {
      padding: 10px 20px 0;
    }

    .education-items {
      @media (min-width: $mdWidth) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .education-title {
      margin-bottom: 20px;
      font-family: $titleFontFamily;
      font-size: 26px;
      text-align: center;

      @media (min-width: $lgWidth) {
        margin-bottom: 40px;
        font-size: 34px;
      }
    }

    .education-item {
      display: flex;
      margin-bottom: 30px;
      padding: 20px;
      width: 100%;
      font-family: $descFontFamily;
      font-size: 15px;
      line-height: 22px;
      background: linear-gradient(135deg,
              rgba(255,255,255,1) 0%,
              rgba(255,255,255,1) 50%,
              rgba(255,255,255,1) 70%,
              rgba(255,255,255,0) 100%);
      border-radius: 30px;
      box-shadow: 10px 25px 40px -10px rgba(0, 0, 0, 0.1);
      transition: 150ms ease-in;

      @media (min-width: $mdWidth) {
        width: 47%;
      }

      p {
        font-size: 15px;
        font-weight: 300;
      }

      a {
        color: $textColor;
        font-size: 15px;
        text-decoration: none;
        cursor: pointer;
      }

      .education-item-univ {
        margin-bottom: 6px;
        font-family: $titleFontFamily;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .education-item:last-child {
      @media (min-width: $mdWidth) {
        margin-left: 53%;
      }
    }

    .education-item:nth-child(4),
    .education-item:nth-child(6),
    .education-item:nth-child(7) {
      background: linear-gradient(90deg, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    }
  }
}
