@import "variables";

.skills-section {
  height: auto;
  background-image: url("../images/skills/back_mob.svg");
  background-position: 50% 70%;
  background-size: 200%;
  background-repeat: no-repeat;
  color: $textColor;

  @media (min-width: $smWidth) {
    background-image: url("../images/skills/back_tablet.svg");
    background-position: 400px 500px;
    background-size: 70%;
  }

  @media (min-width: $lgWidth) {
    height: 830px;
    background-image: url("../images/skills/back.svg");
    background-position: 50% 0;
    background-size: cover;
  }

  .skills-container {
    padding: 0 20px 20px;

    @media (min-width: $lgWidth) {
      padding: 40px 20px 20px;
    }

    .skills-title {
      margin-bottom: 20px;
      font-family: $titleFontFamily;
      font-size: 26px;
      text-align: center;

      @media (min-width: $lgWidth) {
        margin-bottom: 70px;
        font-size: 34px;
      }
    }

    .skills-content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;

      @media (min-width: $lgWidth) {
        flex-direction: row;
      }

      .skills-icons,
      .skills-text {
        width: 100%;

        @media (min-width: $lgWidth) {
          width: 48%;
        }
      }

      .skills-icons {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $smWidth) {
          padding: 10px;
        }

        .skills-icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 25%;
          padding: 15px;

          @media (min-width: $smWidth) {
            padding: 20px;
          }

          i {
            margin-bottom: 10px;
            font-size: 50px;
            color: #A0A0A0;

            @media (min-width: $smWidth) {
              font-size: 70px;
            }
          }

          span {
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            font-family: $textFontFamily;

            @media (min-width: $smWidth) {
              font-size: 16px;
            }
          }

          .fa-database {
            font-size: 40px;
            margin-top: 10px;

            @media (min-width: $smWidth) {
              font-size: 60px;
            }
          }

          .icon-js {
            height: 50px;
            width: 37.5px;
            background-image: url("../images/skills/icon_js.svg");
            background-repeat: no-repeat;
            background-position: 0 3px;

            @media (min-width: $smWidth) {
              height: 70px;
              width: 52.5px;
            }
          }

          .icon-ai,
          .icon-id,
          .icon-ps {
            height: 50px;
            width: 43.75px;
            background-repeat: no-repeat;

            @media (min-width: $smWidth) {
              height: 70px;
              width: 61.25px;
            }
          }

          .icon-ai {
            background-image: url("../images/skills/icon_ai.svg");
          }

          .icon-id {
            background-image: url("../images/skills/icon_id.svg");
          }

          .icon-ps {
            background-image: url("../images/skills/icon_ps.svg");
          }
        }
      }

      .skills-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 10px 15px 40px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;

        @media (min-width: $smWidth) {
          padding: 35px;
          margin-top: 0;
        }

        .skills-text-section {
          position: relative;
          padding-left: 20px;
        }

        .skills-text-section:before {
          position: absolute;
          content: '';
          left: 0;
          top: 6px;
          height: 10px;
          width: 10px;
          background-color: #C21DF0;
          border-radius: 50%;
        }

        .skills-text-title {
          margin-bottom: 5px;
          font-family: $titleFontFamily;
        }

        .skills-text-desc {
          font-family: $descFontFamily;
          font-weight: 300;
          font-size: 18px;
          line-height: 24px;
          text-align: justify;
        }

        .skills-text-section:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
