
$textFontFamily: 'Work Sans', sans-serif;
$descFontFamily:'Work Sans', sans-serif;
$titleFontFamily: 'Montserrat', sans-serif;
$titleFontFamily:'Work Sans', sans-serif;
$nameFontFamily: 'Hind', sans-serif;

$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$maxWidthContainer: 1300px;

$textColor: #2f2f2f;

$fontWeight: 400;