$textFontFamily: 'Fira Sans', sans-serif;
$descFontFamily:'Fira Sans', sans-serif;
$titleFontFamily: 'Fira Sans', sans-serif;
$nameFontFamily: 'Fira Sans', sans-serif;

$bodyFontSize: 16px;

$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$maxWidthContainer: 1300px;

$textColor: #2f2f2f;