
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

$fa-font-path: '~@fortawesome/fontawesome-pro/webfonts';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/duotone';
@import "variables";

@import 'about';
@import 'contacts';
@import 'education';
@import 'experience';
@import 'portfolio';
@import 'skills';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
}

.btn {
  width: 100%;
  padding: 15px 20px;
  font-family: $textFontFamily;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: $textColor;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 13px 10px 20px -10px rgba(0, 0, 0, 0.2);
  transition: 150ms ease-out;
  cursor: pointer;
  text-decoration: none;

  @media (min-width: $mdWidth) {
    width: 230px;
  }

  @media (min-width: $lgWidth) {
  }
}

.btn:hover {
  color: lighten($textColor, 10%);
  box-shadow: 13px 10px 30px -10px rgba(0, 0, 0, 0.3);
  transition: 150ms ease-in;
  transform: scale(1.03);
}
.btn:focus {
  border: none;
  outline: none;
}
